@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-surface-900 text-slate-100 min-h-screen;
    font-family: "Inter", system-ui, -apple-system, sans-serif;
  }
}
